<div id="cars-index" class="panel">
  <h1>Cars</h1>
  <table role="grid">
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
    	{{# each car in model}}
        <tr>
          <td>{{#link-to 'cars.show' car.id}} {{car.make}} {{/link-to}}</td>
          <td>{{car.model}}</td>
          <td>{{car.color}}</td>
          <td>{{car.condition}}</td>
          <td>
            <button {{action 'delete' car}} type="button" class="button alert tiny">
              Delete
            </button>
          </td>
        </tr>
        {{/each}}
    </tbody>
  </table>
  <div class="actions">
    {{#link-to 'cars.new' class='button success' }} Add {{/link-to}}
  </div>
</div>